* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

/* Navbar */
.hero {
    background-image: url('../assets/typing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 140vh;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

#navbar {
    background-color: #ffffff;
    color: #2677B8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 0 0 0 0;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 20px 40px;
    height: 80px;
    position: relative;
    z-index: 1000;
    top: 0;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 10px 20px;
    height: 5vh;
}

.nav-links li {
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-links li:hover {
    color: #2677B8;
    text-decoration: underline;
    text-decoration-color: #2677B8;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-underline-position: under;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-skip: objects;
    transition: all 0.3s ease;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 30px;
}

#signup-btn {
    font-size: 1.2rem;
    height: 8vh;
    width: 15vw;
    background-color: #E11E39;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#signup-btn:hover {
    background-color: #ffffff;
    color: #E11E39;
    border: 2px solid #E11E39;
    transition: all 0.3s ease;
}

#login-btn {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #ffffff;
    color: #2677B8;
    padding: 0px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #AFA3A3;
    height: 8vh;
}

#login-btn:hover {
    background-color: #2677B8;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Navbar ends */

/*mini navbar */
.mini-navbar {
    background-color: #afa3a35b;
    color: #2677B8;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0 0 0 0;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 0px auto 0px auto;
    width: 60%;
    height: 10vh;
}

.mininavbar-links {
    display: flex;
    list-style: none;
    gap: 0%;
    padding-top: 20px;
    height: 8vh;
}

.mininavbar-links:hover {
    display: flex;
    list-style: none;
    gap: 0%;
    padding-top: 20px;
    height: 8vh;
}

.mininavbar-links li {
    color: #585252;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0px 50px;
}

.mininavbar-links li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

.mininavbar-links li:hover {
    color: #ffffff;
    background-color: #E11E39;
    border-radius: 30px;
    padding: 0px 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.mininavbar-links li.active {
    background-color: #E11E39;
    color: #ffffff;
    border-radius: 30px;
    padding: 8px 50px;
    transition: all 0.3s ease;
}

/* mini navbar ends */

/*square-shape */
.square-shape {
    width: 5vw;
    height: 10vh;
    background-color: #E11E39;
    margin: 70px 20vw 40px 20vw;
}

/*square-shape ends */

/*hero section */
.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
}

.hero-text-left {
    text-align: left;
    flex: 1;
    font-size: 2rem;
    color: #ffffff;
    margin: 50px 0px 0px 100px;
}

.hero-text-left h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.hero-text-left button {
    display: block;
    margin: 30px auto 0px 130px;
    padding: 10px 30px;
    font-size: 1.5rem;
    background-color: #E11E39;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text-left button:hover {
    background-color: #b0172d;
}

.hero-text-right {
    margin-top: 100px;
    text-align: left;
    flex: 1;
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
}

.hero-text-right h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.hero-text-right img {
    width: 100%;
    height: 30vh;
    margin: 0px 0px 0px 0px;
}

.square-shape2 {
    width: 5vw;
    height: 10vh;
    background-color: #E11E39;
    margin: 70px 20vw 40px 20vw;
}

/*hero section ends */

/*about section */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    margin-top: 50% !important;

}

.about-text-left {
    text-align: left;
    flex: 1;
    justify-content: start;
    font-size: 1.3rem;
    color: black;
    margin: -300px 0px 0px 10px;

}

.about-text-right {
    text-align: right;
    flex: 1;
    font-size: 0.5rem;
}

.about-text-right img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.faded-line {
    height: 2px;
    width: 100%;
    margin: 20px 0;
    background-color: rgba(150, 147, 147, 0.795);
}

/*why section */

.why-section {
    width: 100%;
    padding: 0 40px;
    margin-top: 5%;
}

.why-section p {
    font-size: 1.4rem;
    color: #E11E39;
    margin-top: 20px;
}

.why-section h2 {
    font-size: 4rem;
    color: black;
    margin-bottom: 20px;
}

.why-section h3 {
    color: #E11E39;
    margin-bottom: 50px;
}

.why-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: black;
    margin-top: 50px;
    font-size: 1.3rem;
}

.icon {
    color: #5a5a5a;
    margin-right: 10px;
}

/*why section ends */

.signup-container {
    background-color: #E11E39;
    margin-top: 5%;
    height: 60vh;
    width: 100%;

}

.signup-container h3 {
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-top: 5%;
    margin-left: -20%;

}

.signup-container p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-top: 5%;
    margin-left: -20%;
}

.signup-container button {
    display: block;
    margin: 35% auto 0px 0px;
    padding: 15px 100px;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #E11E39;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square-shape-long {
    width: 90%;
    height: 15vh;
    background-color: #E11E39;
    margin: 0px 0vw 0px 5vw;
}

/*Pic container */
.pic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0px;
    margin-top: 5%;
}

.pic-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: -10%;
}

.right-pic {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-pic p {
    margin: 40px;
    font-size: 1.3rem;
    text-align: left;
}

.square-shape-long {
    width: 90%;
    height: 15vh;
    background-color: #E11E39;
    margin-top: auto;
}

/*pic container ends */

/*categories section*/

.categories-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    margin-top: 5% !important;
}

.categories-section h2 {
    font-size: 2.9rem;
    color: black;
    margin-bottom: 20px;
}

.category-card {
    height: 30vh !important;
    background-color: white;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card .card-body {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

/*category card ends */